/* =============================== FROM OLD SHEET */

.breadcrumbs {
  margin-bottom: 1.5em;
}
.archive_header {
  display: block;
  float: left;
  border-bottom: 1px solid $border;
  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 10px;
  color: #222;
}
.archive_header {
  font-weight: bold;
  font-size: 1.5em;
}
.archive_header h1 {
  font-size: 1em;
}
.archive_header .catrss a {
  padding: 5px 10px;
  font-size: 14px;
  text-decoration: none;
  line-height: 22px;
}
.archive-description {
  clear: both;
  margin-bottom: 30px;
}
.post,
.search .page {
  margin: 0 0 40px;
}
.page-title,
.post .title,
.page .title {
  font: normal bold 28px/1.2em "Helvetica Neue", Helvetica, Arial sans-serif;
  margin: 0 0 0.5em;
}
.post .title a:hover {
  text-decoration: none;
}
.post .title a:link,
.post .title a:visited,
.page .title a:link,
.page .title a:visited {
  color: $primary;
}
.post-meta {
  margin: 0 0 1.8em 0;
  font: 1em/1em sans-serif;
  color: #999;
  font: 400 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post-meta .small {
  text-transform: lowercase;
}
.post-meta .author {
  text-transform: capitalize;
}
.post-more {
  clear: both;
  padding: 0.2em 0;
  font-size: 13px;
}
.post-more .sep {
  padding: 0 0.5em;
}
.post p.tags {
  color: #999;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
.post-meta a:link,
.post-meta a:visited,
.post p.tags a:link,
.post p.tags a:visited {
  font-weight: bold;
  color: #888;
}
.post-meta .post-comments {
  margin-left: 0.5em;
  float: right;
}
.post .post-embed {
  margin-bottom: 30px;
}
.post-edit-link {
  float: right;
  font-weight: 300;
  font-size: 1.2em;
}
.entry .page-link {
  font-weight: bold;
  margin: 0 0 2em;
}
/* 3.1 Typographic Elements */
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
  margin: 0 0 0.5em;
  line-height: 1.5em;
}
.entry,
.entry p {
  color: #555555;
  font: 400 15px/1.5em "Helvetica Neue", Helvetica, sans-serif;
}
.entry p {
  margin-bottom: 1.2em;
}
.entry blockquote {
  position: relative;
  padding: 10px 20px 10px 50px;
  color: #444;
}
.entry blockquote:before {
  content: "\f10d";
  position: absolute;
  top: 0.5em;
  left: 0;
  font-size: 2em;
  color: #999;
  font-family: "FontAwesome";
}
.entry blockquote p {
  font-style: italic;
}
.entry ul {
  margin: 0 0 15px 0;
  padding: 0 0 0 30px;
}
.entry ul ul {
  margin: 0;
}
.entry ul li {
  list-style-type: disc;
}
.entry ul ul li {
  list-style-type: circle;
}
.entry ol {
  margin: 0 0 15px 0;
  padding: 0 0 0 30px;
}
.entry ol ol {
  margin: 0;
}
.entry ol li {
  list-style-type: decimal;
}
.entry ol li ol li {
  list-style-type: lower-latin;
}
/* 3.2 Images */
.entry img,
img.thumbnail,
#portfolio .group.portfolio-img img {
  height: auto;
  padding: 3px;
  border: 1px solid $border;
  background: #F8F8F8;
  background: rgba(255, 255, 255, 0.7);
}
img.wp-smiley {
  padding: 0;
  border: none;
}
.alignleft {
  float: left;
  margin: 5px 15px 15px 0;
}
.alignright {
  float: right;
  margin: 5px 0 15px 15px;
}
.aligncenter {
  text-align: center;
  margin-bottom: 15px;
}
img.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.entry .wp-caption {
  max-width: 100%;
  width: 100%;
  padding: 1px;
  text-align: center;
  background: #F8F8F8;
  border: solid 1px $border;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 0 1px 1px #fff;
  -moz-box-shadow: inset 0 0 1px 1px #fff;
  -webkit-box-shadow: inset 0 0 1px 1px #fff;
}
.entry .wp-caption img {
  margin: 0!important;
  padding: 4px 0;
  background: none;
  border: 0;
}
.entry .wp-caption-text {
  margin: 0 0 0.3em;
  padding: 0;
  font: 400 12px/1.5em "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}
.entry .wp-caption a {
  margin: 0!important;
}
.entry .wp-caption.aligncenter {
  margin: 0 auto 15px;
}

/* =============================== END FROM OLD SHEET */

.post-more a:hover,
.post-meta a:hover,
.post p.tags a:hover {
  color: $primary;
}

.single article:not(.category-recipe) .entry {
	@media all and (min-width: 1410px) {
		width: 630px;
	}
}

.sharedaddy {
	margin-top: 40px;
}

.post-thumbnail {
	margin-bottom: 20px;
	img {
		height: auto;
		padding: 3px;
		border: 1px solid $border;
		background: #F8F8F8;
		background: rgba(255, 255, 255, 0.7);
	}
}

.alignright, .alignleft {
  float:none;
}

.tags a {
  text-transform: lowercase;
}