.header-wrap {
	position: relative;
	background: white;
	z-index: 2;

	@media only screen and (min-width: 1410px) {
		 background: $bodybg;
	}

	@media only screen and (min-width: 1080px) and (max-width: 1409px) {
		background: $bodybg;
	}

	@media all and (min-width: 920px) and (max-width: 1079px) {
		background: $bodybg
	}

	@media all and (max-width: 920px) { 
		border-bottom: 1px solid $dark-border;
	}

	@media all and (min-width: 768px) and (max-width: 919px) {
		background: white;
	}

	@media all and (max-width: 767px) {
		background: white;
	}

	@media all and (max-width: 555px) {
		border-bottom: 0;
	}
}

#header {
	height: 67px;
	padding: 0;
	position: relative;
	width: 95%;
	margin: 0 auto;

	&:after {
		clear: both; 
		display: table;
		content: '';
	}

	.header-wrap & {
		max-width: 1370px!important;
	}

	@media only screen and (min-width: 1410px) {
		 width: 1290px + 80px!important;
	}

	@media only screen and (min-width: 1080px) and (max-width: 1409px) {
		 width: 940px + 80px!important;
	}

	@media only screen and (min-width: 768px) and (max-width: 1079px) {
		width: 620px + 80px!important;
	}

	@media all and (max-width: 555px) {
		height: auto;
	}
}

/* ===========================================================================
  Logo
=========================================================================== */

.logo {
	position: relative;
	float: left;
	margin: 0;

	a {
		position: relative;
		text-indent: -9999px;
		display: block;
		width: 98px;
		height: 67px;
		background-image: url(images/logo.svg);
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: 98px 50px;

		.no-svg & {
			background-image: url(images/logo.png);
			background-repeat: no-repeat;
			background-position: 0 center;
			background-size: 98px 50px;
		}

		@media all and (min-width: 921px) {
			height: 130px;
			width: 105px;
			background-color: transparent;
			background-image: url(images/new-logo.png);
			background-position: center;
			background-size: 105px auto;
		}

		@media all and (max-width: 767px) {
			margin: 0 auto;
		}
	}

	@media all and (min-width: 921px) {
		position: absolute;
	}
}

/* ===========================================================================
  Search
=========================================================================== */

.search {
	@media all and (max-width: 555px) {
		margin-bottom: 20px;
		background-color: #0088B2;
	}
}

form {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.search-wrap {
	float: left;
	position: relative;
	width: 45%;
	max-width: 510px;
	margin: 18px 25px 0;

	@media all and (max-width: 920px) {
		width: 65%;
	}

	@media all and (min-width: 921px) {
		margin-left: 133px;
	}

	@media all and (max-width: 555px) {
		margin: 0 auto;
		clear:both;
		width: 95%;
		float: none;
		padding: 10px 0;
	}
}

.screen-reader {
	display: none;
}

#q {
	@include border-radius(4px);
	box-shadow: none;
	border: 1px solid #b1b1b1;
	padding: 6px 50px 6px 10px;
	font-size: 13px;
	width: 100%;
	max-width: 100%;
	margin: 0;
	@include transition(all 0.3s ease);
	height: auto; // this is an overide
	line-height: 1.3em;
	@include box-sizing(border-box);

	@media all and (max-width: 555px) {
		border: none;
	}
}

#q:focus {
	border: 1px solid #005e9f;
	outline: none;

	@media all and (max-width: 555px) {
		border: none;
	}
}

#header .search #search-button {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	outline: 0;
	color: white;
	height: 30px;
	width: 40px;
	margin: 0;
	padding: 0 10px;
	@include border-radius(0); // this is an overide
	@include border-top-right-radius(4px);
	@include border-bottom-right-radius(4px);
	border: 1px solid #2F5BB7;
	text-indent: -9999px;

	&:hover {
		@include background-image(linear-gradient(to bottom, #00bce9, lighten(#005e9f, 7%)));
	}

	@media all and (max-width: 555px) {
		display: none;
	}
}

#search-button {
	background: #00bce9;
	@include background-image(linear-gradient(to bottom, #00bce9, #005e9f));
}

.search-icon {
	@include background-image(url(images/search-icon.svg));
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 29px;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 30;

	&:hover {
		cursor: pointer;

		+ #search-button {
			@include background-image(linear-gradient(to bottom, #00bce9, lighten(#005e9f, 7%)));
		}
	}
}

/* ===========================================================================
  All Navs
=========================================================================== */

.main-nav-toggle, #secondary-nav, #main-nav {
	position: relative;
  
	ul {
		margin: 0;
		padding: 0;
		list-style: none
	}	

	li {
		display: inline-block;
	}

	a {
		display: inline-block;
		color: #5a5a5a;
		text-decoration: none;
		font-size: 11px;
		@include text-shadow(0 1px 0 #fff);
	}
}

/* ===========================================================================
  Secondary Nav
=========================================================================== */

#secondary-nav {
	float: right;
	margin-top: 15px;

	a {
		padding: 8px 15px;
		font-size: 12px;
		font-weight: normal;
	}

	a.donate {
		background: #8fd1a5;
		@include background-image(linear-gradient(#8fd1a5, #41a563));
		color: white;
		@include text-shadow(0 1px 0 darken(#41a563, 5%));
		@include border-radius(4px);
		margin-left: 18px;
		border: 1px solid #379758;
		font-size: 14px;
		font-weight: 400;

		&:hover {
			background: #41a563;
			@include background-image(linear-gradient(#8fd1a5, lighten(#41a563, 6%)));
		}
	}

	@media all and (max-width: 920px) {
		display: none;
	}
}

/* ===========================================================================
  Main Nav
=========================================================================== */

.main-nav-toggle {
	float: left;
	height: 67px;
	display: none;

	a {
		padding: 0 14px;
		line-height: 67px;
		background: $primary;
		@include background-image(linear-gradient(to bottom, #00bce9, #005e9f));
		color: white;
		text-shadow: none;

		&:hover {
			@include background-image(linear-gradient(to bottom, #00bce9, lighten(#005e9f, 7%)));
		}

		@media all and (max-width: 920px) {
			padding: 0 10px;
			line-height: 28px;
			margin-top: 18px;
			font-size: 14px;
			border: 1px solid #2F5BB7;
			@include border-radius(4px);
		}

		@media all and (max-width: 645px) {
			padding: 0 5px;
		}
	}

	@media all and (max-width: 920px) {
		display: inline-block;
		float: right;
	}
}

.main-nav-wrap {
	background: #0088B2;
	position: relative;
	z-index: 1;
	@include transition(all 0.3s ease);

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	&.show {
		margin-top: 0;

		@media all and (max-width: 555px) {
			margin-top: 0;
		}
	}

	@media all and (max-width: 920px) {
		margin-top: -48px;
	}

	@media all and (min-width: 921px) {
		border-bottom: 1px solid darken(#0088B2, 3%);
	}

	@media all and (max-width: 555px) {
		margin-top: -180px;
		height: 180px;
		overflow: hidden;
		@include transition(all 0.3s ease);
	}
}

#main-nav {
	height: 48px;
	position: relative;
	width: 95%;
	margin: 0 auto;

	&:after {
		clear: both; 
		display: table;
		content: '';
	}

	@media only screen and (min-width: 1410px) {
		width: 1290px + 80px!important;
	}

	@media only screen and (min-width: 1080px) and (max-width: 1409px) {
		width: 940px + 80px!important;
	}

	@media only screen and (min-width: 768px) and (max-width: 1079px) {
		width: 620px + 80px!important;
	}

	@media all and (max-width: 920px) {
		text-align: justify;
	}

	@media all and (min-width: 921px) {
		li:first-child {
			margin-left: 133px;
		}
	}

	@media all and (max-width: 555px) {
		margin: 10px 0 0;
		width: 100%;
		text-align: center;
		height: auto;
	}
}

#main-nav li {

	:first-child a {
		padding-left: 0;
	}

	@media all and (max-width: 555px) {
		display: block;
	}
}

#main-nav a {
	line-height: 48px;
	padding: 0 13px;
	color: white;
	@include text-shadow(0 1px 0 #155375);
	text-transform: capitalize;
	font-size: 14px;
	font-weight: normal;

	&:hover {
		opacity: 0.8;
	}

	@media all and (min-width: 920px) and (max-width: 1079px) {
		padding: 0 15px;
	}

	@media only screen and (min-width: 768px) and (max-width: 1079px) {
		 padding: 0 7px;
	}

	@media all and (max-width: 555px) {
		display: block;
		line-height: 1.1em;
		padding: 7px;

		&:first-child {
			padding-left: 10px;
		}

		&:nth-child(even) {
			background: darken(#0088B2, 1%);
		}
	}
}